* {
    margin: 0;
    padding: 0;
}

button {
    background-color: rgba(100, 194, 5, 0.76);
    border: none;
}

div.footer {
   
    background-image: linear-gradient(to right, #3D5465 , #416E90);
    
}

#img{
    filter:brightness(50%);
}